.slider__wrapper img{
    width: 300px;
}

.slick-prev::before {
    content: '';
    height: 50px;
    width: 50px;
    display: block;
    opacity: 1;
    background: url('https://www.tourmyindia.com/imgnew/left-arrow-pink.svg') no-repeat center;
}

// .slick-prev::after {
//     content: "";
//     width: 0;
//     height: 0;
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top: 0;
//     margin: auto;
//     z-index: -1;
//     border-radius: 50%;
//     background: #ff6612;
//     -webkit-transition: .2s;
//     -o-transition: .2s;
//     transition: .2s;
// }
.slick-next::before {
content: '';
    height: 38px;
    width: 38px;
    display: block;
    opacity: 1;
    background: url('https://www.tourmyindia.com/imgnew/small-right-arrow-pink.svg') no-repeat center;
}